:root {
	--transition-time: 200ms;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	transition: all var(--transition-time) ease-in-out;
}
@import "./config";
@import "./utilities";
@import "./form";
body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	font-size: 1rem;
	line-height: 1.6;
	background-color: $white-color;
	color: $black-color;
}
a {
	color: $primary-color;
	text-decoration: none;
}
ul {
	list-style: none;
}
img {
	object-fit: cover;
	max-width: 100%;
	max-height: 100%;
}
.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.7rem 2rem;
	position: fixed;
	z-index: 5;
	width: 100%;
	top: 0;
	left: 0;
	border-bottom: 1px solid $primary-color;
	opacity: 0.9;
	ul {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
	}
	a {
		color: $white-color;
		padding: 0.45rem;
		margin: 0 0.25rem;
		display: flex;
		justify-content: center;
		align-items: center;
		& > * {
			margin: 0 0.25rem;
		}
		&:hover {
			color: $primary-color;
		}
	}
}

.landing {
	position: relative;
	background: url(./images/showcase.webp) no-repeat center center/cover;
	height: 100vh;
	&-inner {
		color: $white-color;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-flow: column;
		text-align: center;
	}
	.buttons {
		width: 25%;
		margin: 2rem 0;
		display: flex;
		justify-content: center;
		align-items: center;
		.button {
			width: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}

.profile {
	display: grid;
	grid-template-columns: 2fr 4fr 3fr;
	grid-gap: 2rem;
	align-items: center;
	padding: 1rem;
	line-height: 1.8;
	margin: 0.5rem 0;
	li {
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}
}
.profile {
	&-grid {
		display: grid;
		grid-template-areas:
			"top top"
			"about about"
			"exp edu"
			"github github";
		grid-gap: 1rem;
	}
	&-top {
		grid-area: top;
		display: flex;
		flex-flow: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		img {
			width: 250px;
			height: 250px;
		}
		.icons a {
			color: $light-color;
			font-size: 1.5rem;
			margin: 0.1rem 0.35rem;
			&:hover {
				color: $dark-color;
			}
		}
	}
	&-about {
		grid-area: about;
		text-align: center;
		.skills {
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;
		}
	}
	&-exp {
		grid-area: exp;
	}
	&-edu {
		grid-area: edu;
	}
	&-exp,
	&-edu {
		& > div:not(:last-child) {
			margin-bottom: 1rem;
			padding-bottom: 1rem;
			border-bottom: 1px solid #ccc;
		}
		p {
			margin: 0.5rem 0;
		}
	}
	&-github {
		grid-area: github;
	}
	&-repo {
		display: flex;
		& > div {
			&:first-child {
				flex: 7;
				flex-basis: 70%;
			}
			&:last-child {
				flex: 3;
				flex-basis: 30%;
			}
		}
	}
}
.post{
	&-form{
		&-header{
			padding: 0.5rem;
		}
	}
	display: grid;
	grid-template-columns: 1fr 4fr;
	grid-gap: 2rem;
	align-items: center;
	&>div{
		&:first-child{
			text-align: center;
		}
		img{
			width: 150px;
			height: 150px;
			border-radius: 50%;
		}
	}
}

.material-icons {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	user-select: none;
	cursor: pointer;
}

@import "./mobile";